.check {
    border: 1px solid black;
}

.brand-text {
    font-size: 30px;
    color: greenyellow;
    border: 2px solid greenyellow;
    padding: 5px;
    font-family: 'Sigmar One', cursive;
}

.wrapper-input {
    height: 45%;
    background-color: #b30059;
    font-weight: bolder;
    font-size: 18px;
    color: white;
}

.wrapper-output {
    height: 50%;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 18px;
}

body {
    height: 1200px;
    background-color: #33ccff;
}

.full-size {
    width: 100%;
}

.nav-color-wrapper {
    background-color: #b30059;
}

.nav-text {
    color: greenyellow;
    font-size: 20px;
    border-top: 1px solid greenyellow;
    border-bottom: 1px solid greenyellow;
    font-family: 'Bree Serif', serif;
}

.nav-text:hover {
    font-size: 20px;
}

.adventure-text {
    font-family: 'Lobster', cursive;
    font-size: 27px;
    color: white;
    transition: all 0.75s ease;
}

.adventure-text:hover {
    color: greenyellow;
    font-size: 28px;
}

img {
    height: 200px;
    width: 200px;
}

select {
    width: 100%;
}

p {
    font-family: 'Kelly Slab', cursive;
    transition: all 0.40s ease;
}

p:hover {
    color: greenyellow;
    font-size: 17px;
}

.button-style {
    background-color: greenyellow;
    color: #b30059;
    font-weight: bolder;
    height: 100%;
    width: 20%;
    transition: all 0.70s ease;
    font-size: 20px;
    text-shadow: black;
}

.button-style:hover {
    width: 22%;
    height: 110%;
    font-size: 21px;
}

@media screen and (max-width: 576px) {

    .button-style {
        position: absolute;
        top: 75px;
        left: 40%;
        height: 40px;
    }

    .button-style:hover {
        height: 40px;
        width: 20%;
    }

    .adventure-text {
        font-size: 21px;
        position: relative;
        top: 20%;
    }

    select {
        width: 60%;
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
    }
    
    p:hover {
        font-size: 15px;
    }
    
}

@media screen and (max-width: 485px) {
    .brand-text {
        font-size: 24px;
    }
}

@media screen and (max-width: 440px) {
    .brand-text {
        position: absolute;
        top: 38%;
        left: 15%;
    }
}

