.check {
    border: 1px solid black;
}

.wrapper-input {
    height: 45%;
    background-color: #b30059;
    font-weight: bolder;
    font-size: 18px;
    color: white;
}

.wrapper-output {
    height: 50%;
    background-color: lightgray;
    font-weight: bolder;
    font-size: 18px;
}

.nav-custom {
    font-family: 'Sigmar One', cursive;
}

body {
    height: 1200px;
}

.full-size {
    width: 100%;
}

.nav-color-wrapper {
    background-color: #b30059;
}

.nav-color-text {
    color: white;
}

.adventure-text {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: white;
    transition: all 0.75s ease;
}

.adventure-text:hover {
    color: red;
    font-size: 32px;
}

img {
    height: 200px;
    width: 200px;
}
.card{
    margin: 5px;
    padding: 8px;
    float: left;
    height: 450px;
}
.slideshow-container {
    max-width: fit-content;
    position: relative;
    margin: auto;
    height: 500px;
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
     border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next {
        font-size: 11px
    }
}
